
.icon-about-me:before { content: '\e800'; } /* '' */
.icon-proff-ex:before { content: '\e801'; } /* '' */
.icon-group-50:before { content: '\e802'; } /* '' */
.icon-star-2-(stroke):before { content: '\e803'; } /* '' */
